<template>
    <button :type="type" @click="click" :disabled="disabled"><slot></slot></button>
</template>

<script>
    import {Item} from '../mixins/Item';
    import {EventManagement} from '../mixins/EventManagement';
    import {Event} from '../classes/Event';

    export default {
        name: "LktButton",
        mixins: [Item, EventManagement],
        props: {
            type: {
                type: String,
                default: 'button',
                validator: function (value) {
                    return ['button', 'submit', 'reset'].indexOf(value) !== -1;
                }
            },
            name: {
                type: String,
                default: ''
            },
            value: {
                type: String,
                default: ''
            },
            disabled: {
                type: Boolean,
                default: false
            },
        },
        methods: {
            click(e){
                let r = {
                    id: this.name,
                    value: this.value,
                    event: e,
                };

                this.propagate(new Event('click', r));
            }
        }
    }
</script>
