<template>
    <div v-if="canRenderSimpleInput" :class="renderSelectors">
        <slot v-if="canRenderPrefixSlot" name="prefix"></slot>
        <input v-model="val"
               :type="renderType"
               :name="name"
               :id="internalId"
               :disabled="renderDisabled"
               :readonly="readonly"
               :placeholder="placeholder"
               :min="min"
               :max="max"
               :step="step"
               autocomplete="none"
               @keyup="onChange"
               @change="onChange">
        <slot v-if="canRenderLabelSlot" name="label"></slot>
        <label v-if="canRenderLabelHtml" :for="internalId" v-html="renderLabel(label)"></label>
        <div v-if="reseteable" class="reset" @click="reset">
            <slot name="reset"></slot>
        </div>
        <slot v-if="canRenderSuffixSlot" name="suffix"></slot>
    </div>

    <div v-else-if="canRenderMultipleInput" :class="renderSelectors">
        <label v-if="canRenderLabelHtml" :for="internalId" v-html="renderLabel(label)"></label>
        <div class="field-options">
            <div class="field-inner" v-for="(option, i) in opts">
                <slot v-if="canRenderPrefixSlot" name="prefix"></slot>

                <input :type="renderType"
                       :name="name"
                       :id="internalId+'-'+i"
                       v-model="val"
                       :disabled="renderDisabled"
                       :readonly="readonly"
                       :checked="option.value === value ? 'checked' : ''"
                       :value="option.value"
                       @keyup="onChange"
                       @change="onChange">

                <label :for="internalId+'-'+i" v-html="renderLabel(option.label, option.icon)" :ref="'label-radio-'+i"></label>

                <slot v-if="canRenderSuffixSlot" name="suffix"></slot>
            </div>
        </div>
    </div>

    <div v-else-if="isTextArea()" :class="renderSelectors">
        <slot v-if="canRenderPrefixSlot" name="prefix"></slot>
        <textarea :name="name" :id="internalId" @keyup="onChange" v-model="val"
                  :disabled="renderDisabled" :readonly="readonly" :placeholder="placeholder"></textarea>
        <label v-if="canRenderLabelHtml" :for="internalId" v-html="renderLabel(label)"></label>
        <slot v-if="canRenderSuffixSlot" name="suffix"></slot>
    </div>

    <div v-else-if="isRange()" :class="renderSelectors">
        <vue-slider ref="vueSlider" :id="internalId" v-model="val" :data="options" :min="min" :max="max" :interval="step" :enable-cross="false" @change="onChange"/>
        <label v-if="canRenderLabelHtml" :for="internalId" v-html="renderLabel(label)"></label>
    </div>

    <div v-else-if="isFile()" :class="renderSelectors">
        <slot v-if="canRenderPrefixSlot" name="prefix"></slot>
        <input :type="renderType" v-show="false" :name="name" :id="internalId" v-model="val" @keyup="onChange"
               @change="onChange"
               :disabled="renderDisabled" :readonly="readonly" :placeholder="placeholder" ref="fileField">
        <input type="text" :name="name" :id="internalId" v-model="val" @click="focusFile"
               :disabled="renderDisabled" :readonly="true" :placeholder="placeholder">
        <slot v-if="canRenderLabelSlot" name="label"></slot>
        <label v-if="canRenderLabelHtml" :for="internalId" v-html="renderLabel(label)"></label>
        <div v-if="reseteable" class="reset" @click="reset">
            <slot name="reset"></slot>
        </div>
        <slot v-if="canRenderSuffixSlot" name="suffix"></slot>
    </div>


    <div v-else-if="isImage()" :class="renderSelectors">
        <slot v-if="canRenderPrefixSlot" name="prefix"></slot>
        <input :type="renderType" v-show="false" @change="parseImageUrl"
               :disabled="renderDisabled" :readonly="readonly" :placeholder="placeholder" ref="fileField">
        <input type="text" :name="name" :id="internalId" @click="focusFile"
               :disabled="renderDisabled" :readonly="true" :placeholder="placeholder">
        <slot v-if="canRenderLabelSlot" name="label"></slot>
        <label v-if="canRenderLabelHtml" :for="internalId" v-html="renderLabel(label)"></label>
        <div class="preview-container" v-if="val.length > 0">
            <div class="preview" v-for="uploadedImage in val">
                <img :src="uploadedImage"/>
            </div>
        </div>
        <div v-if="reseteable" class="reset" @click="reset">
            <slot name="reset"></slot>
        </div>
        <slot v-if="canRenderSuffixSlot" name="suffix"></slot>
    </div>

    <div v-else-if="isSelectMultiple()" :class="renderSelectors">
        <slot v-if="canRenderPrefixSlot" name="prefix"></slot>
        <input :type="renderType"
               :name="name"
               :id="internalId"
               :disabled="renderDisabled"
               :readonly="readonly"
               :placeholder="placeholder"
               v-model="fetchString"
               autocomplete="none"
               ref="field"
               @keyup="onSelectKeyUp"
               @keydown="onSelectKeyDown"
               @change="onChange"
               @click="onFocus"/>
        <label :for="internalId"
               class="field-selected-option"
               v-html="renderSelectedOption"></label>
        <slot v-if="canRenderLabelSlot" name="label"></slot>
        <label v-if="canRenderLabelHtml" :for="internalId" v-html="renderLabel(label)"></label>
        <div v-if="reseteable" class="reset" @click="reset">
            <slot name="reset"></slot>
        </div>
        <div class="output" v-if="val && val.length > 0">
            <div class="output-option"
                 v-for="selectedOption in selectedOptions" @click="unselectOption" :data-index="selectedOption.index" v-html="renderSelectedOptionOutput(selectedOption)">
            </div>
        </div>
        <div class="dropdown-mask" v-if="showDropdown" @click="onBlur"></div>
        <div class="dropdown" v-if="showDropdown" ref="dropdown">
            <slot name="loader" v-if="isLoading"></slot>
            <ul class="dropdown-content" v-else-if="filteredOptions.length > 0">
                <li v-for="(option, i) in filteredOptions"
                    :value="option.value"
                    :class="getDropdownOptionSelector(option, highlightOption, i)"
                    :disabled="!(option.value && option.value !== '__0__')"
                    :data-value="option.value"
                    :data-label="option.label"
                    :data-index="option.index"
                    @click="selectOption"
                    @mousemove="optionMouseMove" v-html="renderOption(option)">
                </li>
            </ul>
            <div class="dropdown-no-content" v-else v-html="noOptionsMessage"></div>
        </div>
        <slot v-if="canRenderSuffixSlot" name="suffix"></slot>
    </div>

    <div v-else-if="isSelect()" :class="renderSelectors">
        <slot v-if="canRenderPrefixSlot" name="prefix"></slot>
        <input :type="renderType"
               :name="name"
               :id="internalId"
               :disabled="renderDisabled"
               :readonly="readonly"
               :placeholder="placeholder"
               v-model="fetchString"
               autocomplete="none"
               :contenteditable="!renderDisabled"
               @keyup="onSelectKeyUp"
               @change="onChange"
               @click="onFocus"
               @focus="onFocus"
               @blur="onBlur"/>
        <label :for="internalId"
               class="field-selected-option"
               v-html="renderSelectedOption"></label>
        <slot v-if="canRenderLabelSlot" name="label"></slot>
        <label v-if="canRenderLabelHtml" :for="internalId" v-html="renderLabel(label)"></label>
        <div v-if="reseteable" class="reset" @click="reset">
            <slot name="reset"></slot>
        </div>
        <div class="dropdown" v-if="showDropdown" ref="dropdown">
            <slot name="loader" v-if="isLoading"></slot>
            <ul class="dropdown-content" v-else-if="filteredOptions.length > 0">
                <li v-for="(option, i) in filteredOptions"
                    :value="option.value"
                    :class="getDropdownOptionSelector(option, highlightOption, i)"
                    :disabled="!(option.value && option.value !== '__0__')"
                    :data-value="option.value"
                    :data-label="option.label"
                    :data-index="option.index"
                    @click="selectOption"
                    @mousemove="optionMouseMove" v-html="renderOption(option)">
                </li>
            </ul>
            <div class="dropdown-no-content" v-else v-html="noOptionsMessage"></div>
        </div>
        <div class="dropdown-mask" v-if="showDropdown" @click="onBlur"></div>
        <slot v-if="canRenderSuffixSlot" name="suffix"></slot>
    </div>

    <div v-else-if="canRenderDate" :class="renderSelectors">
        <slot v-if="canRenderPrefixSlot" name="prefix"></slot>
        <input :type="renderType" :name="name" :id="internalId" v-model="fetchString" @keyup="onSelectKeyUp" @change="onChange"
               @click="onFocus" @focus="onFocus" @blur="onBlur"
               autocomplete="none"
               :disabled="renderDisabled" :readonly="true" :placeholder="placeholder">
        <slot v-if="canRenderLabelSlot" name="label"></slot>
        <label v-if="canRenderLabelHtml" :for="internalId" v-html="renderLabel(label)"></label>
        <div v-if="reseteable" class="reset" @click="reset">
            <slot name="reset"></slot>
        </div>
        <div class="dropdown" v-if="showDropdown" ref="dropdown">
            <slot name="loader" v-if="isLoading"></slot>
            <div class="dropdown-content" v-else-if="opts.length > 0">
                <div class="calendar-menu">
                    <div class="calendar-prev" @click="showPreviousMonth">Prev</div>
                    <div class="calendar-current">{{currentMonth}}</div>
                    <div class="calendar-next" @click="showNextMonth">Next</div>
                </div>
                <div class="calendar-header">
                    <div v-for="option in opts[0]"
                         :value="option.value"
                         :disabled="!(option.value && option.value !== '__0__')">{{option.dayOfWeek}}
                    </div>
                </div>
                <div v-for="(row, i) in opts" class="calendar-row">
                    <div v-for="option in row"
                         :class="getCalendarDateSelector(option)"
                         :value="option.value"
                         :disabled="!(option.value && option.value !== '__0__')"
                         :data-value="option.value"
                         :data-label="option.label"
                         :data-index="i"
                         :data-month="option.month"
                         :data-year="option.year"
                         :data-selected-value="option.selectedValue"
                         @click="selectOption"
                         @mousemove="optionMouseMove">{{option.label}}
                    </div>
                </div>
            </div>
            <div class="dropdown-no-content" v-else v-html="noOptionsMessage"></div>
        </div>
        <slot v-if="canRenderSuffixSlot" name="suffix"></slot>
    </div>

    <div v-else-if="isTimePicker">
        <vue-timepicker v-model="val" :readonly="readonly" :disabled="disabled" @change="onChange"></vue-timepicker>
    </div>
</template>

<script>

    import {Item} from '../mixins/Item';
    import {EventManagement} from '../mixins/EventManagement';
    import {Event} from '../classes/Event';
    import {Validator} from '../../Vanilla/Form/Validator';
    import {SocialMedia} from '../../Vanilla/SocialMedia';
    import {Calendar} from '../../Vanilla/Calendar';
    import {default as VueSlider} from 'vue-slider-component';
    import VueTimepicker from 'vue2-timepicker';
    import 'vue-slider-component/theme/material.css';

    export default {
        name: "LktField",
        components: {VueSlider, VueTimepicker},
        props: {
            type: {
                type: String,
                default: 'text',
                validator: function (value) {
                    return ['text', 'textarea', 'number', 'tel', 'select', 'radio', 'checkbox', 'password', 'email', 'switch', 'url', 'date', 'range', 'file', 'image', 'timepicker'].indexOf(value) !== -1;
                }
            },
            id: {
                type: String,
                default: '',
            },
            name: {
                type: String,
                default: '',
            },
            label: {
                type: String,
                default: '',
            },
            value: {
                type: [String, Boolean, Number, Object, Array],
                default: '',
            },
            title: {
                type: String,
                default: '',
            },
            placeholder: {
                type: String,
                default: '',
            },
            disabled: {
                type: Boolean,
                default: false,
            },
            readonly: {
                type: Boolean,
                default: false,
            },
            reseteable: {
                type: Boolean,
                default: false,
            },
            multiple: {
                type: Boolean,
                default: false,
            },
            taggable: {
                type: Boolean,
                default: false,
            },
            validation: {
                type: Array,
                default() {
                    return [''];
                },
                validator: function (value) {
                    return (new Validator()).listAll().includes(value) !== -1;
                }
            },
            options: {
                type: Array,
                default() {
                    return [];
                }
            },
            apiOptions: {
                type: Object,
                default() {
                    return {};
                },
            },
            apiFetchProp: {
                type: String,
                default: 'value',
            },
            apiFetchParams: {
                type: Object,
                default(){
                    return {};
                },
            },
            apiFetchFormatter: {
                default() {
                    return function (r) {
                        return [];
                    }
                }
            },
            noOptionsMessage: {
                type: String,
                default: 'No results. Try typping some text.',
            },
            changeDelay: {
                type: Number,
                default: 200,
            },
            min: {
                type: Number,
                default: undefined
            },
            max: {
                type: Number,
                default: undefined
            },
            step: {
                type: Number,
                default: 1
            },
            dateFormatter: {
                type: Object,
                default(){
                    return {};
                }
            }
        },
        mixins: [Item, EventManagement],
        data() {
            return {
                lkt: {
                    state: {
                        isActive: false,
                        isValid: true,
                    },
                    selectedOption: '',
                },
                changeTimeout: undefined,
                showDropdown: false,
                filteredOptions: [],
                val: '',
                fetchString: '',
                valDateObject: undefined,
                opts: [],
                highlightOption: 0,
                validator: new Validator(),
                isLoading: false,
                calendar: undefined,
                currentMonth: '',
                ctrlKey: false,
                internalId: '',
                selectedOptions: [],
                changed: false,
                stateFocus: false,
                stateFocusLock: undefined,
            };
        },
        watch: {
            value: {
                handler(){
                    if (this.isSelect() && !this.isSelectMultiple()){
                        this.init();
                    }
                },
                deep: true
            },
            val() {
                this.$emit('input', this.getValue());
            },
            options(){
                this.initOptions();
            }
        },
        computed: {
            canRenderSimpleInput() {
                return this.isSimpleInput();
            },
            canRenderMultipleInput() {
                return this.isMultipleInput();
            },
            canRenderDate() {
                return this.isDate();
            },
            renderDisabled() {
                return this.disabled || (this.readonly && ['checkbox', 'switch', 'radio'].indexOf(this.type) !== -1);
            },
            isTimePicker(){
                return this.type === 'timepicker';
            },
            renderType() {
                switch (this.type) {
                    case 'switch':
                        return 'checkbox';
                    case 'url':
                    case 'select':
                    case 'date':
                        return 'text';
                    case 'image':
                        return 'file';
                    default:
                        return this.type;
                }
            },
            renderSelectors() {
                let r = {'state-error': !this.lkt.state.isValid},
                    t = 'type-' + this.type;
                r[t] = true;
                r['type-multiple'] = (this.opts.length > 0 && ['checkbox', 'switch', 'radio'].indexOf(this.type) !== -1) || this.isSelect() && this.multiple === true;
                r['state-disabled'] = this.disabled === true;
                r['state-readonly'] = this.readonly === true;
                r['state-empty'] = this.val === '';
                r['state-changed'] = this.changed === true;
                if (this.isSelectMultiple()) {
                    r['state-filled'] = this.selectedOptions.length > 0;
                } else if(this.isSelect()){
                    r['state-filled'] = typeof this.val !== 'undefined' && (this.val > 0 || this.taggable && this.fetchString !== '');
                } else {
                    r['state-filled'] = this.val !== '';
                }

                return r;
            },
            canRenderPrefixSlot() {
                return !!this.$slots['prefix'];
            },
            canRenderSuffixSlot() {
                return !!this.$slots['suffix'];
            },
            canRenderLabelSlot() {
                return !!this.$slots['label'];
            },
            canRenderLabelHtml() {
                return (!!this.label || (this.isImage() && this.val.length > 0) || ['checkbox', 'switch', 'radio'].indexOf(this.type) !== -1) && !!this.$slots['label'] === false;
            },
            renderSelectedOption: {
                cache: false,
                get(){
                    let option = this.getValue();
                    if (option && option.image){
                        return '<div class="image"><img src="'+option.image+'" title="'+option.label+'" /></div>';
                    }
                    return this.fetchString;
                }
            }
        },
        methods: {
            renderOption(option){
                if (option.image){
                    return '<div class="image"><img src="'+option.image+'" title="'+option.label+'"/></div> <span>'+option.label+'</span>';
                }
                return option.label;
            },
            renderSelectedOptionOutput(option){
                if (option.image){
                    return '<div class="image"><img src="'+option.image+'" title="'+option.label+'" /></div> <span>'+option.label+'</span>';
                }
                return option.label;
            },
            getDropdownOptionSelector(option, highlightOption, i){
                let r = {'is-highlight': highlightOption == i, 'is-selected': option.selected === true};
                if (option.selector){
                    let temp = option.selector.split(' ');
                    temp.forEach(t => {
                        r[t] = true;
                    });
                }
                return r;
            },
            parseImageUrl(event) {
                this.val = [];
                if (event.target.files && event.target.files[0]) {
                    var FR = new FileReader();

                    FR.addEventListener("load", (e) => {
                        this.val.push(e.target.result);
                    });

                    FR.readAsDataURL(event.target.files[0]);
                }
            },
            focusFile() {
                this.$refs.fileField.click();
            },
            emit(eventName, e) {
                let r = {
                    id: this.getName(),
                    value: this.getValue(),
                    event: e,
                };

                if (this.type === 'url') {
                    if (!r.value) {
                        r.value = '';
                    }
                    r.urlFrom = SocialMedia.check(r.value);
                }

                this.propagate(new Event(eventName, r));
            },
            renderLabel(label, icon, labelRef) {
                let r = '';
                if (!!icon) {
                    r += '<i class="' + icon + '"></i>'
                }
                if (!!label) {
                    r += label;
                }
                return r;
            },
            optionMouseMove(e) {
                let t = e.target;
                this.highlightOption = parseInt(t.dataset.index);
            },
            isSimpleInput() {
                return ['text', 'number', 'tel', 'password', 'email', 'url'].indexOf(this.type) !== -1
                    || (this.opts.length === 0 && ['checkbox', 'switch', 'radio'].indexOf(this.type) !== -1);
            },
            isMultipleInput() {
                return this.opts.length > 0 && ['checkbox', 'switch', 'radio'].indexOf(this.type) !== -1;
            },
            isTextArea() {
                return this.type === 'textarea';
            },
            isRange() {
                return this.type === 'range';
            },
            isSelect() {
                return this.type === 'select';
            },
            isSelectMultiple() {
                return this.type === 'select' && this.multiple === true;
            },
            isDate() {
                return this.type === 'date';
            },
            isFile() {
                return this.type === 'file';
            },
            isImage() {
                return this.type === 'image';
            },
            isApiSelect() {
                return this.isSelect() && this.apiOptions && this.apiOptions.link;
            },
            fetchApiOptions() {
                if (this.isApiSelect()) {
                    let params = this.apiFetchParams;
                    this.isLoading = true;
                    params[this.apiFetchProp] = this.getValue().label;

                    this.api(this.apiOptions, params, (r) => {
                        let opts = this.apiFetchFormatter(r);
                        this.opts = opts;
                        this.filteredOptions = opts;

                        // @todo: detectar cual de las opciones es la checked
                        // @todo: opción de agregar nueva opción
                        this.isLoading = false;
                    });
                } else if (this.isSelect()) {
                    if (this.fetchString === '') {
                        this.filteredOptions = this.opts;
                    } else {
                        let str = this.fetchString.toLowerCase();
                        this.filteredOptions = this.opts.filter(o => {
                            return o.label.toLowerCase().indexOf(str) > -1
                        });
                    }
                }
            },
            onSelectKeyDown(e) {
                if (e.ctrlKey) {
                    this.ctrlKey = true;
                }
            },
            unselectOption(e){
                if (this.readonly || this.disabled) {
                    return;
                }
                let t = e.target;
                if (!this.isDate()){
                    if (!t.classList.contains('output-option')){
                        do {
                            t = t.parentNode;
                        } while (!t.classList.contains('output-option'));
                    }
                }
                let index = parseInt(t.dataset.index);
                this.opts[index].selected = false;
                this.updateSelectedOptions();
                this.$emit('input', this.getValue());
                this.$emit('field-change', this.getValue());
            },
            updateSelectedOptions(){
                this.selectedOptions = this.opts.filter(opt => {
                    return opt.selected === true
                });
            },
            onSelectKeyUp(e) {
                if (this.readonly || this.disabled) {
                    return;
                }
                let p = parseInt(this.highlightOption),
                    l = this.filteredOptions.length - 1,
                    n = 1;

                if (!e.ctrlKey) {
                    this.ctrlKey = false;
                }
                switch (e.keyCode) {
                    case 13: //enter
                        if (p > 0) {
                            this.val = this.filteredOptions[p].value;
                            this.fetchString = this.filteredOptions[p].label;
                            this.showDropdown = false;
                            this.emit('field-change');
                        } else if (this.taggable) {
                            this.val = undefined;
                            this.showDropdown = false;
                            this.emit('field-change');
                        }
                        return false;
                        break;
                    case 38: //up
                        if (p > 0) {
                            --p;
                        } else {
                            p = l;
                        }
                        break;
                    case 40: //down
                        if (p < l) {
                            ++p;
                        } else {
                            p = 0;
                        }
                        break;
                    default:
                        return this.onChange(e);
                }
                this.highlightOption = p;
                n = (p * 100) / l;
                this.$refs.dropdown.scrollTop = (this.$refs.dropdown.scrollHeight * n) / 100;
                return false;
            },
            onChange(e) {
                if (this.readonly || this.disabled) {
                    return;
                }
                clearTimeout(this.changeTimeout);
                this.changeTimeout = setTimeout(() => {
                    this.changed = true;
                    this.lkt.state.isActive = this.getValue() !== '';
                    this.validate();
                    this.emit('field-change', e);
                    if (e instanceof KeyboardEvent) {
                        this.fetchApiOptions();
                    }
                    clearTimeout(this.changeTimeout);
                }, this.changeDelay);
            },
            onFocus(e) {
                if (this.readonly || this.disabled) {
                    return;
                }
                e.preventDefault();
                e.stopPropagation();
                if (typeof (this.stateFocusLock) === 'undefined'){
                    this.stateFocus = true;
                    this.showDropdown = true;

                    this.stateFocusLock = setTimeout(() => {
                        this.stateFocusLock = undefined;
                    }, 500);
                }
            },
            onBlur(e) {
                if (this.readonly || this.disabled) {
                    return;
                }
                e.preventDefault();
                e.stopPropagation();
                this.stateFocus = false;

                if (this.isSelectMultiple() && this.ctrlKey === true) {
                    this.$refs.field.focus();
                    return;
                }
                setTimeout(() => {
                    this.showDropdown = false;
                    this.emit('blur');
                }, 200);
            },
            selectOption(e) {
                if (this.readonly || this.disabled) {
                    return;
                }
                this.changed = true;
                let t = e.target;
                if (!this.isDate()){
                    if (t.tagName !== 'LI'){
                        do {
                            t = t.parentNode;
                        } while (t.tagName !== 'LI');
                    }
                }

                this.val = t.dataset.value;
                if (this.isDate()) {
                    this.valDateObject = new Date(t.dataset.year, this.calendar.getMonthNumber(t.dataset.month), t.dataset.value);
                    if (typeof this.dateFormatter === 'function'){
                        this.fetchString = this.dateFormatter(this.valDateObject);
                    } else {
                        this.fetchString = t.dataset.selectedValue;
                    }
                } else if (this.isSelectMultiple()) {
                    let index = parseInt(t.dataset.index);
                    this.opts[index].selected = !this.opts[index].selected;
                    this.fetchString = '';
                    this.updateSelectedOptions();

                } else if (this.isSelect()) {
                    this.opts.forEach((opt, i) => {
                        this.opts[i].selected = false;
                    });
                    if (!this.isApiSelect()){
                        let index = parseInt(t.dataset.index);
                        this.opts[index].selected = true;
                    }
                    this.fetchString = t.dataset.label;
                } else {
                    this.fetchString = t.dataset.label;
                }

                this.filteredOptions = this.opts;
                this.emit('field-change');
                if (this.isSelectMultiple() && e.ctrlKey) {
                    return;
                }
                if (!this.isSelectMultiple()){
                    this.showDropdown = false;
                }
            },
            mouseOver(e) {
                if (this.readonly || this.disabled) {
                    return;
                }
                let security = 10,
                    i = 0,
                    r = 0,
                    node = e.target;

                // if (node.tagName !== 'LI'){
                //     do {
                //         node = node.parentNode;
                //     } while (node.tagName !== 'LI');
                // }

                while (!node.classList.contains('js-field') && i < security) {
                    node = node.parentNode;
                    ++i;
                }

                if (node) {
                    let fields = node.getElementsByClassName('js-field-inner');
                    if (fields && fields[0]) {
                        r = fields[0].value;
                    }
                }
                this.propagate(new Event('field-mouse-over', {
                    id: this.internalId,
                    value: r,
                    event: e,
                }));
            },
            mouseOut(e) {
                if (this.readonly || this.disabled) {
                    return;
                }
                this.emit('field-mouse-out', e);
            },
            isDisabled(isDisabled) {
                if (typeof isDisabled === 'undefined') {
                    return this.disabled;
                } else {
                    this.disabled = isDisabled === true;
                    return this.disabled;
                }
            },
            validate() {
                if (this.validation.length > 0) {
                    let r = true;
                    this.validation.forEach((key) => {
                        r = r && this.validator.validate(key, this.getValue());
                    });
                    this.lkt.state.isValid = r;
                } else {
                    this.lkt.state.isValid = true;
                }
                return this.lkt.state.isValid;
            },
            isValid() {
                return this.lkt.state.isValid;
            },
            isChanged(){
                return this.changed;
            },
            getValue() {
                let r = this.val;

                if (r === '__EMPTY__') {
                    r = '';
                }

                if (this.isSelect()) {

                    if (this.isSelectMultiple()){
                        return this.selectedOptions.map(opt => {
                            return {label: opt.label, value: opt.value};
                        });
                    }

                    if (this.taggable){
                        let found = this.opts.filter(opt => {
                            return opt.label == this.fetchString;
                        });

                        if (!(found && found.length > 0)) {
                            r = undefined;
                        }
                    }

                    if (!this.isApiSelect()) {

                        if (typeof r !== 'undefined'){
                            let found = this.opts.filter(opt => {
                                return opt.value == r;
                            });

                            if (found && found.length > 0) {
                                return JSON.parse(JSON.stringify(found[0]));
                            }
                        }
                    }

                    let found = this.opts.filter(opt => {
                        return opt.value == r;
                    });

                    if (found && found.length > 0) {
                        let response = JSON.parse(JSON.stringify(found[0]));
                        response.value = r;
                        response.label = this.fetchString;
                        return response;
                    }

                    return {
                        value: r,
                        label: this.fetchString,
                    }

                } else if (this.isDate()) {
                    if (typeof this.valDateObject !== 'undefined') {
                        return this.valDateObject;
                    }
                } else if (this.isTimePicker){
                    return [this.val.HH, this.val.mm].join(':');
                }
                return r;
            },
            getName() {
                if (!!this.name) {
                    return this.name;
                }

                if (!!this.internalId) {
                    return this.internalId;
                }

                return '';
            },
            reset() {
                if (this.isSelect()) {
                    this.val = '';
                    this.fetchString = '';

                } else {
                    this.val = '';
                }
                this.emit('field-change');
            },
            setValue(value) {
                if (this.isRange()){
                    this.$refs.vueSlider.setValue(value);
                } else if (this.isSelect() && !this.isSelectMultiple()){
                    this.val = value.value;
                    this.fetchString = value.label;
                } else {
                    this.val = value;
                }
                if (this.isSelect()){
                    this.initOptions();
                }
                this.validate();
            },
            makeId(length) {
                var result = '';
                var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
                var charactersLength = characters.length;
                for (var i = 0; i < length; i++) {
                    result += characters.charAt(Math.floor(Math.random() * charactersLength));
                }
                return result;
            },
            initOptions(){
                if (this.options && this.options.length > 0) {
                    let opts = JSON.parse(JSON.stringify(this.options)).map((opt, i) => {
                        if (typeof opt !== 'object'){
                            opt = {
                                label: opt,
                                value: opt,
                            }
                        }
                        opt.index = i;
                        opt.selected = false;
                        if (this.isSelectMultiple()){

                            if (this.val && this.val.length > 0){
                                let found = this.val.filter(v => {
                                    return v.value === opt.value;
                                });

                                if (found && found.length > 0){
                                    opt.selected = true;
                                }
                            }
                        } else if (this.isSelect()){
                            if (this.val){
                                let found = this.options.filter(v => {
                                    return v.value === this.val;
                                });

                                if (found && found.length > 0){
                                    opt.selected = true;
                                }
                            }
                        }
                        opt.selector = opt.selector ? opt.selector : '';
                        return opt;
                    });

                    if (this.isSelect() && !this.isSelectMultiple()){
                        opts.forEach((opt, i) => {
                            if (opt.value !== this.val) {
                                opts[i].selected = false;
                            }
                        });
                    }
                    this.opts = opts
                    this.filteredOptions = opts;
                }

                if (this.isSelectMultiple()){
                    this.updateSelectedOptions();
                }
            },
            init() {
                if (this.isSelect()) {

                    if (this.isSelectMultiple()){
                        this.val = this.$props.value;
                        this.fetchString = '';
                        this.updateSelectedOptions();
                    } else {
                        this.val = this.$props.value.value;
                        this.fetchString = this.$props.value.label;
                    }

                } else if (this.isDate()) {
                    this.fetchString = this.$props.value;
                    this.valDateObject = new Date(this.$props.value);

                } else if (this.isImage()) {

                    if (typeof this.$props.value === 'string') {
                        this.val = [this.$props.value];
                    } else {
                        this.val = this.$props.value;
                    }
                } else if(this.isTimePicker){
                    let tempValue = this.$props.value;
                    if (typeof tempValue !== 'string'){
                        tempValue = {
                            "HH": 'hh',
                            "mm": 'mm',
                        };
                    } else {
                        tempValue = tempValue.split(':');
                        if (tempValue.length > 0){
                            if (tempValue[0] === ''){
                                tempValue[0] = '00';
                            }
                            if (tempValue[1] === ''){
                                tempValue[1] = '00';
                            }
                            tempValue = {
                                "HH": tempValue[0] < 10 ? '0' + parseInt(tempValue[0]) : tempValue[0],
                                "mm": tempValue[1] < 10 ? '0' + parseInt(tempValue[1]) : tempValue[1],
                            };
                        } else {
                            tempValue = this.$props.value;
                        }
                    }
                    this.val = tempValue;

                } else {
                    this.val = this.$props.value;
                }

                let internalId = this.$props.id;
                if (!!!internalId){
                    internalId = this.makeId(16);
                }
                this.internalId = internalId;

                this.initOptions();

                let d = this.$props.data;
                d.state = d.state ? d.state : {};
                d.state.isActive = d.val !== '';
                d.state.isValid = true;
                this.parseData(d);
            },

            getCalendarDateSelector(option) {
                return {
                    'calendar-date': true,
                    'state-current': option.month === 'current',
                    'state-previous': option.month === 'previous',
                    'state-next': option.month === 'next'
                };
            },

            showPreviousMonth() {
                this.calendar = this.calendar.getPreviousCalendar();
                this.opts = this.calendar.show();
                this.currentMonth = this.calendar.getMonthName();
            },

            showNextMonth() {
                this.calendar = this.calendar.getNextCalendar();
                this.opts = this.calendar.show();
                this.currentMonth = this.calendar.getMonthName();
            },

            getOptions() {
                return this.opts;
            }

        },
        created: function () {
            this.init();
            this.emit('field-init');

            if (this.isDate()) {
                this.calendar = new Calendar();
                this.opts = this.calendar.show();
                this.currentMonth = this.calendar.getMonthName();
            }
        },
        mounted: function () {
            this.init();
        }
    }
</script>

<style lang="scss" scoped>
    .vue-slider {
        width: 100% !important;
    }

    .time-picker[readonly] {
        pointer-events: none;
    }
</style>
