<template>
    <div class="type-unit">
        <input v-model="Value"
               type="number"
               :id="InternalId"
               :disabled="disabled"
               :readonly="readonly"
               :placeholder="placeholder"
               :min="min"
               :max="max"
               :step="step"
               autocomplete="none">
        <label v-if="unit" :for="InternalId" v-html="unit"></label>
    </div>
</template>

<script>
    export default {
        name: "LktFieldUnit",
        props: {
            value: {
                type: Number,
                default(){
                    return 0;
                }
            },
            unit: {
                type: String,
                default: '',
            },
            placeholder: {
                type: String,
                default: '',
            },
            disabled: {
                type: Boolean,
                default: false,
            },
            readonly: {
                type: Boolean,
                default: false,
            },
            min: {
                type: Number,
                default: undefined
            },
            max: {
                type: Number,
                default: undefined
            },
            step: {
                type: Number,
                default: 1
            },
        },
        data(){
            return {
                InternalId: '',
                Value: 0,
                firstEmit: true,
            }
        },
        computed: {
        },
        watch: {
            value(v){
                this.Value = v;
            },
            Value(v){
                this.$emit('input', v);
                if (this.firstEmit){
                    this.firstEmit = false;
                    return;
                }
                this.$emit('change', v);
            }
        },
        methods: {
            getValue(){
                return this.Value;
            },
            setValue(v){
                this.Value = parseFloat(v);
            },
            init(){
                this.Value = parseFloat(this.$props.value);
            },
            makeId(length) {
                var result = '';
                var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
                var charactersLength = characters.length;
                for (var i = 0; i < length; i++) {
                    result += characters.charAt(Math.floor(Math.random() * charactersLength));
                }
                return result;
            },
        },
        created(){
            this.InternalId = this.makeId(16);;
        },
        mounted(){
            this.init();
        }
    }
</script>