<template>
    <div :id="id" :class="renderSelector">
        <div class="back" @click="close"></div>
        <div class="inner">
            <div v-if="canRenderCloseSlot" class="modal-close" @click="close">
                <slot name="close"></slot>
            </div>
            <div class="scroller">
                <div v-if="canRenderLoadingSlot" v-show="loading" class="modal-loader">
                    <slot name="loader"></slot>
                </div>
                <div v-show="!loading" class="modal-content">
                    <slot></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {Item} from '../mixins/Item';
    import {EventManagement} from '../mixins/EventManagement';

    export default {
        name: "LktModal",
        mixins: [Item, EventManagement],
        props: {
            value: {
                type: Boolean,
                default: false
            },
            id: {
                type: String,
                default: ''
            },
            loading: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            renderSelector() {
                return {
                    'modal': true,
                    'is-open': this.value === true
                }
            },
            canRenderCloseSlot() {
                return !!this.$slots['close'];
            },
            canRenderLoadingSlot() {
                return this.loading === true && !!this.$slots['loader'];
            }
        },
        methods: {
            close(e) {
                e.stopPropagation();
                e.preventDefault();
                if (this.loading === true && !!this.$slots['loader']){
                    return;
                }
                this.$emit('input', !this.value);
            }
        }
    }
</script>
